pandas
numpy
seaborn
matplotlib
scikit-learn>=0.22.0 
xgboost
Flask
dill
fastapi
-e .

# this is -e. is it necessary?
# ``` yes it is necessary. it is the path to the directory where the setup.py file is located.``` 